/* imports------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');


/*general-styles----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}


*,*::before,*::after {
    box-sizing: inherit;
}



body {
    background-color: rgb(219, 209, 209);
    font-family: 'Fraunces','Montserrat', sans-serif;
    font-size: 14px;
    max-width: 1440px;
}

/* card-wrapper------------------------------------------------------------------------------------------------------------------------------------------------ */
.wrapper {
    position: relative;
    height: 350px;
    display: grid;
    width: fit-content;
    gap: 0px;
    /* background-position: 50% 50%; */
    grid-template-columns: repeat(2, auto);
}




/* left product card------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.product-display {
    width: 240px;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;   
}


/* right product details------------------------------------------------------------------------------------------------------------------------------------------------------- */


.perfume {
    color: var(--dark-cyan);
    font-style: unset;
    font-size: 12px;
    margin-top: 25px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

h1 {
    width: 140px;
    font-weight: 700;
}

.description {
    color: var(--dark-cyan);
    font-family: 'Montserrat', sans-serif;
    word-spacing: 2px;
    width: 227px;
    font-size: 14px;
}

.new-price {
    font-size: 30px;
    color: var(--dark-cyan);
}

.old-price {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 5px;
    color: var(--dark-cyan);
    margin-left: 5px;
    display: inline-block;
    font-size: 11px;
    text-decoration: line-through;
}

button {
    font-weight: 700;
    font-size: 11px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--cream);
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    width: 90%;
    background-color: var(--dark-cyan) ;
}

button:hover {
    cursor: pointer;
    background-color: var(--very-dark-blue);
}

.cart-icon {
    position: relative;
    top: 2px;
    width: 12px;
}

.product-details {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    width: 285px;
    padding: 0px 0px 0px 17px;
}


/* footer-section------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}




/* media queries------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* 375px 1440px */

@media (min-width: 500px) {
    .wrapper {
        position: absolute;
        left: 3%;
    }
}


@media (max-width: 550px) {

.wrapper {
    width: 335px;
    transform: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}


.product-display {
    width: fit-content;
}

.product-image {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}

.perfume {
    margin-top: 20px;
}

.product-details {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}

h1 {
    width: fit-content;
    font-size: 30px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.description {
    width: 302px;
}

.old-price {
    text-decoration: line-through;
}

button {
    width: 94%;
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 12px;   
    font-weight: 700;
}

}



